
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 1000;
    padding: 10px 20px;
}

.logo {
    max-width: 150px;
    height: auto;
}

.search-download-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

#searchInput {
    width: calc(100% - 200px); /* Ajustement de la largeur */
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #dddddd;
    border-radius: 20px;
    background-color: #fafafa;
}

.download-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
}

.download-btn:hover {
    background-color: #0056b3;
}

#data-selector {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #dddddd;
    border-radius: 5px;
    background-color: #fafafa;
}

table {
    width: 90%;
    margin: 120px auto 40px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    background-color: #ffffff;
}

th {
    background-color: #eeeeee;
}
