body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 1000;
}

.logo-container {
    align-self: flex-start; /* Position à gauche */
    padding: 10px; /* Espace autour du logo */
}

.logo {
    max-width: 100px;
    max-height: 80px;
    width: auto;
    height: auto;
}

.header-title {
    margin: 0;
    font-size: 24px;
    color: #333;
}

#searchInput {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #dddddd;
    border-radius: 20px;
    background-color: #fafafa;
    width: calc(100% - 240px); /* Largeur ajustée pour tenir compte du padding et des boutons */
    max-width: 600px; /* Largeur maximale pour éviter que la barre ne soit trop longue */
}

#data-selector {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    margin-left: 20px;
}

.download-button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #007bff;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.2s;
    align-self: flex-end; /* Position à droite */
}

.download-button:hover {
    background-color: #0056b3;
}

table {
    width: 90%;
    margin: 180px auto 40px; /* Marge pour éviter le chevauchement avec l'en-tête */
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    background-color: #ffffff;
}

th {
    background-color: #eeeeee;
}

@media screen and (max-width: 768px) {
    .header-container {
        flex-direction: column;
    }

    #searchInput, #data-selector, .download-button {
        width: 90%;
        margin: 10px 0;
    }

    .logo {
        max-width: 80px;
        max-height: 60px;
    }
}
